<div>
    <h4>
        Wysłano wiadomość!
    </h4>
    <div class="rate-background">
        <h6>
            Autor:
            @ViewBag.FirstName @ViewBag.LastName
        </h6>
        <h6>
            Wiadomość:
            @ViewBag.Message
        </h6>
    </div>
</div>