<div>
    <h6>
        Wystawiono opinię!
    </h6>
    <div class="rate-background">
        <h6>
            @ViewBag.Name
        </h6>
        <h7>
            @ViewBag.Opinion
        </h7>
    </div>
</div>