<!--Strona główna z opisem-->
<center>
    <h4>Kebab Core to kabab jakiego jeszcze nie jadłeś!</h4>
       
     <h6>Poznaj orientalny przysmak internetowej kuchni przygotowanej przez najlepszych developerów smaku!</h6>
    <!--Obrazek kebaba-->
     <img src="~/kebab.png" />
</center>