<div>
    <h4>
        Twoje zamówienie:
    </h4>
    <div class="rate-background">
        <h6>
            Danie:
            @ViewBag.Meal
        </h6>
        <h6>
            Napój:
            @ViewBag.Drink
        </h6>
        <h6>
            Dodatek:
            @ViewBag.Extra
        </h6>
    </div>
</div>